* {
    padding: 0%;
    margin: 0%;
}

h1 {
    font-size: 8vmin;
}

body {
    background-color: #0075C4;
    text-align: center;
}

.box-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    height: 8vh;
    width: 63vmin;
    margin: 1vmin;
    font-size: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
}

.keyboard {
    height: 5vh;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.key {
    height: 9vh;
    width: 15vmin;
    border-radius: .8rem;
    border-style: none;
    background-color: #EFA00B;
    font-size: 1.5rem;
}